

*{
    margin: 0px;
    padding: 0px;
    font-family: Optima, sans-serif;
}




nav{
    width: 100%;
    margin: 30px 0px 0px 0px;
    background-color: white;
    position: sticky;
    top: 0px;
	border-bottom: solid;
	border-width: 0.5px;
	border-color: #cccccc;
	position: relative;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
	
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}
 
 
 
 
.headlogo{
	margin: 0px 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	
}
 
.logo{
	float: left;
	padding-top: 20px;
	padding-right:20px;
	padding-bottom: 0px;
	padding-left: 30px;
}
 
.logo_text{
	padding-top: 20px;
	padding-bottom: 20px;
}





.desc{
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.desc h1{
	padding-bottom: 20px;
	padding-top: 30px;
	font-size: 25px;
}

.desc .pdf{
	align-items: center;
	width: 80%;
	height: 500px;
	border: unset;
}


.desc ul{
	list-style-type: none;
	padding-left: 20px;
}

.desc .liens a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 3px 0px;
	border-bottom: solid;
	border-width: 0.5px;
	border-color: #cccccc;
}
.desc .liens a:hover{
    color: orange;
    border-bottom: 2px solid gold;
	
}