@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
  --green: #b8d953;
  --lilac: #333399;
  --pink: #333399;
  --dark-green: #529a91;
  --peach: #333399;
  --grey: #999999;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Optima, sans-serif;
}




nav{
    width: 100%;
    margin: 30px 0px 0px 0px;
    background-color: white;
    position: sticky;
    top: 0px;
	border-bottom: solid;
	border-width: 0.5px;
	border-color: #cccccc;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
	
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}
 
 
 
 
.headlogo{
	margin: 0px 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	
}
 
.logo{
	float: left;
	padding-top: 20px;
	padding-right:20px;
	padding-bottom: 0px;
	padding-left: 30px;
}
 
.logo_text{
	padding-top: 20px;
	padding-bottom: 20px;
}



.desc{
	padding-top: 20px;
	padding-left: 80px;
	padding-right: 80px;
}

.desc > div{
	position: relative;
	z-index: 1;
}

.desc h1{
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 20px;

}

.rs_wrapper{
	position: relative;
	margin-top: 10px;
	width: 50%;
}

.rs_wrapper a{
	text-decoration: none;
	color: black;
}

.rs{
	border-radius: 20px;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	margin-top: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;	
	width: 100%;
	height: auto;
}

.rs img{
	height: 30px;
	width: 30px;
}

.rs.email img{
	margin-right: 35px;
}

.rs_wrapper .twitter .nom{
	margin-right: 57px;
}

.rs_wrapper .instagram .nom{
	margin-right: 65px;
}


.rs.twitter{
	background: linear-gradient(0.25turn, #3399ff, #007acc);
	color: white;
}

.rs.twitter:hover{
	opacity: 80%;
}

.rs.twitter img{
	filter: brightness(30);
}

.rs.instagram{
	background: linear-gradient(0.25turn, #FFD600, #FF7A00, #FF0069, #D300C5, #7638FA);
	opacity: 80%;
}

.rs.instagram:hover{
	opacity: 60%;
}





.rs.email{
	background: linear-gradient(0.25turn, #bfbfbf, #808080);
}

.rs.email:hover{
	opacity: 80%;
}






.desc .droits{
	font-style : oblique;
	font-size: 13px;
	padding-top: 20px;
	padding-left: 20px;
}

.credits{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 20%;
}

.bizzy p{
  font-size: 3vw;
   font-family: 'Staatliches', sans-serif;
  margin-top: 30px;
}

.bizzy{
	width: 30%;
	margin-top: 20px;
	margin-left: 20px;
}

.kayahh1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 10px;
  text-align: center;
}

@keyframes fontGrow {
  0% {
	transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(1);
  }
}

.bizzy-letters {
  animation-name: fontGrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: top;
  transition-timing-function: ease-in-out;
}

.letter-k {
  color: var(--grey);
}

.letter-a1 {
  color: var(--green);
  animation-delay: 1s;
}

.letter-y {
  color: var(--pink);
}

.letter-a2 {
  color: var(--lilac);
  animation-delay: 1s;
}

.letter-h1 {
  color: var(--dark-green);
}

.letter-h2 {
  color: var(--peach);
  animation-delay: 1s;
}

.kayahh2 {
  display: flex;
  justify-content: space-between;
}

@keyframes fontGrowReverse {
  0% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(2);
  }
}

.bizzy-letters-B {
  animation-name: fontGrowReverse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  transition-timing-function: ease-in-out;
  
}

.letter-K {
  color: #cbe69f;
}

.letter-A1 {
  color: #e6e600;
  animation-delay: 1s;
  font-stretch: ultra-condensed;
}

.letter-Y {
  color: #91d1df;
}

.letter-A2 {
  color: #f7b407;
  animation-delay: 1s;
}

.letter-H1 {
  color: var(--grey);
}

.letter-H2 {
  color: #e6e600;
  animation-delay: 1s;
}
